.center.jumbotron
  %h1 Ecotone
  %h3 Sustainable landscaping on the campus of OSU Cascades
  = link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary"

/ source: http://getbootstrap.com/examples/carousel/#
.container
  .row
    .col-lg-4
      = image_tag('ecotone-plants-tykson-hall-osu-cascades-200x200.jpg', alt: "Native plant species at OSU cascades", class: 'img-circle', height: 200, width: 200)
      %h2 Sustainable Landscaping
      %p Native plants.. more words
    .col-lg-4
      %img.img-circle{:alt => "Ecotone plot on OSU Cascades campus in Bend, OR", :height => "200", :width => "200", :src => "/assets/ecotone-plot-with-trees-osu-cascades-bend-or-200x200.jpg"}/
      %h2 Education
      %p Biology students can submit data samples of plot and plant health on campus.
    .col-lg-4
      %img.img-circle{:alt => "Flower on OSU Cascades campus", :height => "200", :width => "200", :src => "/assets/ecotone-flower2-osu-cascades-200x200.jpg"}/
      %h2 Plant Identification
      %p Learn more about plant species that are native to Central Oregon. The Ecotone Mobile app enables users to to identify featured plants on each of OSU Cascades' plots around campus with a quick photo of a QR code.
      %p
        .btn{:href => "#", :role => "button"} Get the App »
