.jumbotron.center
  %h1.title Ecotone
  %h2.subtitle A Living, Learning Laboratory at OSU-Cascades
.img-container
  .col.center
    .img-circle
      = image_tag('ecotone-plants-tykeson-hall-osu-cascades-200x200.jpg', alt: 'Native plant species at OSU-cascades')
    %h3 Native Plant Landscaping
    %p Natural resources and biology students constructed plots for native species on the OSU-Cascades campus
  .col.center
    .img-circle
      = image_tag('ecotone-plot-with-trees-osu-cascades-bend-or-200x200.jpg', alt: 'Ecotone plot on OSU-Cascades campus in Bend, OR')
    %h3 Education
    %p Biology students can periodically collect and record data samples to track plant health and plot biodiversity
  .col.center
    .img-circle
      = image_tag('ecotone-flower2-osu-cascades-200x200.jpg', alt: 'Flower on OSU-Cascades campus')
    %h3 Plant Identification
    %p Learn more about native plant species by scanning the QR codes posted at each plot around campus
.video
  .iframe-container
    %iframe{:allow => "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/rmrYM4QwMOw", :title => "YouTube video player", :width => "560"}