.center.jumbotron
  %h1 Ecotone
  %h3 Sustainable landscaping on the campus of OSU Cascades
  = link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary"

/ source: http://getbootstrap.com/examples/carousel/#
.container
  .row
    .col-lg-4
      = image_tag('ecotone-plants-tykson-hall-osu-cascades-200x200.jpg', alt: "Native plant species at OSU cascades", class: 'img-circle')
      %h2 Sustainable Landscaping
      %p Natural resources and biology students constructed sustainable plots of native species on the OSU Cascades campus.
    .col-lg-4
      = image_tag('ecotone-plot-with-trees-osu-cascades-bend-or-200x200.jpg', alt: "Ecotone plot on OSU Cascades campus in Bend, OR", class: 'img-circle')
      %h2 Education
      %p Biology students can periodically collect data samples to track the health of plots and plants on campus.
    .col-lg-4
      = image_tag('ecotone-flower2-osu-cascades-200x200.jpg', alt: "Flower on OSU Cascades campus", class: 'img-circle')
      %h2 Plant Identification
      %p Learn more about plant species that are native to Central Oregon. The Ecotone Mobile app enables users to to identify featured plants on each of OSU Cascades' plots around campus with a quick photo of a QR code.
      %p
        .btn.btn-primary{href: '#', role: 'button'} Get the App »
