.center.jumbotron
  %h1 Ecotone 
  %h2 A map of the campus
/ source: http://getbootstrap.com/examples/carousel/#
.container
  = image_tag('ecotone_map_2017.png', class: 'img-responsive', alt: 'Map of the campus plots', usemap:'#workmap')



