.center.jumbotron
  %h1 Ecotone 
  %h2 A map of the campus
/ source: http://getbootstrap.com/examples/carousel/#

.container
  = image_tag('ecotone_map_2017.png', usemap:'#interactiveMap')
  %map(name='interactiveMap')
    %area(name='plot_1' shape='circle' coords='360, 75, 30' href='/plots/1')
    %area(name='plot_2' shape='rect' coords='350, 175, 575, 125' href='/plots/2')
    %area(name='plot_3' shape='circle' coords='540, 150, 10' href='/plots/3')
    %area(name='plot_12'  shape='circle' coords='465, 350, 30' href='/plots/12')