.center.jumbotron
  %h1 Ecotone 
  %h2 An even better map of the campus
/ source: http://getbootstrap.com/examples/carousel/#

.content(id='map')

:javascript

  var mapboxAttribution = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}'

  var grayscale = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {id: 'MapID', tileSize: 512, zoomOffset: -1, attribution: mapboxAttribution}),
    streets   = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {id: 'MapID', tileSize: 512, zoomOffset: -1, attribution: mapboxAttribution});

  var map = L.map('map').setView([44.04, -121.33], 14);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
  maxZoom: 18,
  id: 'mapbox/streets-v11',
  tileSize: 512,
  zoomOffset: -1,
  accessToken: 'pk.eyJ1IjoiYm95a2oiLCJhIjoiY2t6N3F3dHg3MWRrZzJucGh0aWZrZG84OSJ9.uQt5x-TJrlhe624nAsDeaA'}).addTo(map);

  L.marker([44.0429688, -121.3329103]).addTo(map)
    .bindPopup('Plot 5')
    .openPopup();

  L.marker([44.0429789, -121.333324]).addTo(map)
    .bindPopup('Plot 6')
    .openPopup();