%h1 Editing Mycorrhizal Fungi Sample
= render 'form', mycorrhizal_fungi_sample: @mycorrhizal_fungi_sample
= link_to 'Show', @mycorrhizal_fungi_sample
|
= link_to 'Back', mycorrhizal_fungi_samples_path
