- content_for_title('New Mycorrhizal Fungi Sample')
- content_for(:subnav) do
  = link_to('« Samples', mycorrhizal_fungi_samples_path, class: 'button primary', method: 'get')
= render partial: 'form'
