.center.jumbotron
  %h1 Ecotone 
  %h2 An even better map of the campus
/ source: http://getbootstrap.com/examples/carousel/#

.content(id='map')
  :javascript

    var mapBoxAttribution = 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>'
    var mapBoxRequest = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=#{ENV['LEAFLET_KEY']}'

    var map = L.map('map').setView([44.0429688, -121.3329103], 18, {layers: [satelliteLayer, outdoorLayer]});
    var plots = #{@plots.to_json.html_safe}
    
    plots.forEach(plot => {
      var p_url = (href='#{plots_url}/' + plot.plot_id);
      console.log(p_url);
      var ping = L.marker([plot.latitude, -plot.longitude]);
      ping.bindPopup('<h6> Details: </h6>' + plot.location_description + '<h6> Link: </h6>' + p_url + ' <h6> Latitude: </h6>' + plot.latitude + '<h6> Longitude: </h6>' + plot.longitude).addTo(map);
      });
  
    var satelliteLayer = L.tileLayer(mapBoxRequest,
    {
      id: 'mapbox/satellite-streets-v11', 
      tileSize: 512, 
      zoomOffset: -1, 
      attribution: mapBoxAttribution,
    }).addTo(map);

    var outdoorLayer = L.tileLayer(mapBoxRequest,
    {
      id: 'mapbox/outdoors-v11', 
      tileSize: 512, 
      zoomOffset: -1, 
      attribution: mapBoxAttribution,
    }).addTo(map);

    var baseMaps = {
      "Satellite": satelliteLayer,
      "Ground": outdoorLayer
    };

    L.control.layers(baseMaps).addTo(map);