- content_for_title('All Users')

%section.small-table
  %table.table.list#users
    %tbody
      - @users.each do |user|
        %tr{:onclick => "location.href='#{url_for(user)}'"}
          %td
            = user.name
            = '(admin)' if user.admin?

