- content_for_title('All Users')
%ul.indexing
  - @users.each do |user|
    %li
      %h3
        = link_to user.name, user, title: "Details of #{user}"
        = '(admin)' if user.admin?
        = delete_user_link(current_user, user)
