- if object.errors.any?
  .alert.alert-warning
    %h3.alert-heading
      The form contains #{ pluralize(object.errors.count, 'error') }.
    %ul
      - object.errors.full_messages.each do |msg|
        -if msg.include? "Location within plot"
          %li Location in Plot can't be blank
        -else
          %li= msg
