- if @plot.errors.any?
  #error_explanation
    .alert.alert-danger
      The form contains #{ pluralize(@plot.errors.count, "error") }.
    %ul
      - @plot.errors.full_messages.each do |msg|
        %li= msg