- provide(:title, "All Plants")
%h1 All Plants
%ul.indexing
  - @plants.each do |plant|
    %li
      = link_to plant.common_name, plant
      | #{link_to "delete", plant, method: :delete, data: { confirm: "Delete #{plant.common_name}?" }}

= link_to "Add Plant", new_plant_path, class: "btn btn-primary add-plant"
