@import './constants.css.scss';

.button {
  font-size: $txt1;
  height: $space5;
  width: $space9;
  padding: $space0;
  text-align: center;
  border-radius: $space0;
  transition-duration: 0.1s;
}

.primary {
  color: white;
  background-color: $orange3;
  border-color: $orange3;
  box-shadow: $shadow2;
  &:hover, &:focus, &:focus-visible {
    color: $grey9;
    background-color: $orange3;
    border-color: $orange3;
    box-shadow: $shadow1;
    outline: 0px;
  }
  &:active {
    color: $grey9;
    background-color: $orange2;
    border-color: $orange2;
    box-shadow: $shadow1;
  }
}

.btn-icon {
	height: $space5;
	width: $space5;
	color: transparent;
	background-color: transparent;
	border: transparent;
	transition: all .15s ease-in-out;
	&:hover {
		transform: scale(1.2);
	}
}

#chevron {
  &:hover {
    transform: none;
  }
}

.btn-public {
	display: grid;
	grid-auto-flow: column;
	column-gap: $space3;
	justify-content: start;
}

.btn-admin {
  display: grid;
  grid-auto-flow: column;
  column-gap: $space2;
  justify-content: end;
}
