@import "bootstrap-sprockets";
@import "bootstrap";

// Variables

$osu-orange: #C34500;
$gray-medium-light: #eaeaea;

// Universal

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical; 
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.btn {
  background-color: $osu-orange;
  border-color: $osu-orange;
  &:hover {
    background-color: darken($osu-orange, 5%);
    border-color: darken($osu-orange, 5%);
  }
}

// Typography

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// Header

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

// Footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


