@import "bootstrap-sprockets";
@import "bootstrap";


// Variables & Mixins

$osu-orange: #C34500;
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


// Universal

body {
  padding-top: 60px;
  font-family: 'Gudea', sans-serif;
}

section {
  overflow: auto;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.center {
  text-align: center;
}

.btn {
  background-color: #F0F0F0;
  color: lighten($osu-orange, 5%);
  &:hover, &:focus {
    background-color: lighten($osu-orange, 5%);
    border-color: lighten($osu-orange, 5%);
    color: #FFF;
  }
  &:active {
    background-color: lighten($osu-orange, 10%) !important;
    border-color: lighten($osu-orange, 10%) !important;
  }
  &:disabled {
    background-color: lighten($osu-orange, 10%) !important;
    border-color: lighten($osu-orange, 10%) !important;
  }
}

.btn-primary {
  background-color: $osu-orange;
  border-color: $osu-orange;
  color: #FFF;
}

.btn-danger {
  border-color: #F0F0F0;
  &:hover {
    background-color: #FFF0F0;
    border-color: #D00;
    color: #D00;
  }
  &:active, &:focus {
    background-color: #D00 !important;
  }
}

.btn-group .btn {
  width: 80px;
}

nav.paginator {
  display: block;
  margin: 0 0 2em 0;
}

ul.pagination {
  margin: 0px;
}

.pagination li a {
  color: $osu-orange;
  &:hover {
    color: lighten($osu-orange, 5%);
  }
}

.pagination li.active a {
  background-color: $osu-orange;
  border-color: $osu-orange;
  &:hover {
    background-color: $osu-orange;
    border-color: $osu-orange;
  }
}

.alert {
  ul {
    margin: 0 0 30px 0;
  }
}

.alert .alert-heading {
  margin: 0 0 10px 0;
}

.alert ul {
  margin: 0px;
}


// Header

a.navbar-brand img {
  height: 48px;
  margin-top: -14px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #DDD;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #EEE;
    text-decoration: none;
  }
  &:active {
    color: #FFF;
  }
}

.subnav {
  height: 36px;
}

// Footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
}


// Homepage

.jumbotron {
  background-image: url("/assets/osucascades_sketch.jpg");
}

.img-circle {
  margin: auto;
  display: block;
  height: 200;
  width: 200;
}


// Sidebar

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    h2 {
      font-size: 1.3em;
      text-align: left;
    }
  }
}


// Forms

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

input[type="checkbox"] {
  margin-bottom: 15px;
  box-shadow: none !important;
}

textarea {
  resize: vertical;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.g-recaptcha {
  margin-bottom: 15px;
}

form img {
  margin-bottom: 20px;
}

label.form-label-photo {
  display: block;
}


// Model indexes

ul.index {
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    overflow: auto;
    border-bottom: 1px solid $gray-lighter;
    padding-bottom: 10px;
  }
}

ul.indexing {
  margin-bottom: 25px;
}

.indexing {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
  li.photo_list {
    img {
      width: 50px;
      height: 50px;
    }
    h3 {
      margin: 0px;
    }
    h4 {
      margin: 0px;
    }
  }
}

.plant_photo {
  margin-top: 20px;
}

.plot_photo {
  margin-top: 20px;
}

.citation {
  color: #4C4C4C;
  margin-bottom: 20px;
  font-size: 0.9em;
}

.qr {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  width: 50%;
}
.qr td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 0px;
  height: 10px;
}

.qr td.black { background-color: #000; }
.qr td.white { background-color: #fff; }


// Miscellaneous

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

.col-md-3 {
  padding-left: 0;
}

.invasive {
  color: black;
  text-decoration: underline;
  text-decoration-color: red;
  font-size: 1.2em;
}


// Biodiversity Report temperature slider / input range.
// See app/javascript/biodiversiy_reports

#temperature_wrapper input {
  width: 90%;
  display: inline;
}

#temperature_value {
  display: inline-block;
  width: 10%;
  text-align: right;
  font-size: 1.1em;
}
