@import './constants.css.scss';

body { 
  background-color: hsl(210, 100%, 98%); 
  padding-top: $space7;
  font-family: 'graphik-regular';
  color: $grey0;
}

button {
  padding: $space1;
  text-align: center;
  vertical-align: center;
  border-radius: $space0;
  transition-duration: 0.1s;
}

p {
  font-family: 'graphik-light';
  font-size: $txt2;
  line-height: $space4;
}

.center {
  text-align: center;
}
