@import './constants.css.scss';

body { 
  background-color: hsl(210, 100%, 98%); 
  padding-top: $space7;
  font-family: 'graphik-regular';
  color: $grey0;
}

p {
  font-family: 'graphik-light';
  font-size: $txt2;
  line-height: $space4;
}

a { 
  &:link, &:visited, &:hover, &:active {
    text-decoration: none
  }
}

.center {
  text-align: center;
}

.subnav {
  display: grid;
  grid-auto-flow: column;
  height: $space6;
  padding: $space1;
  align-content: center;
  border: 2px solid black;
}

form.button_to {
  height: $space5;
  width: $space9;
  margin: 0px;
  padding: 0px;
}

// .image {
// 	padding: 12px;
// 	padding-left: 128px;
// }
