@import './constants.css.scss';

body { 
  background-color: hsl(210, 100%, 98%); 
  padding-top: $space7;
  font-family: 'graphik-regular';
  color: $grey0;
}

p {
  font-family: 'graphik-light';
  font-size: $txt2;
  line-height: $space4;
}

a { 
  &:link, &:visited, &:hover, &:active {
    text-decoration: none
  }
}

.center {
  text-align: center;
}

.subnav {
  display: grid;
  grid-auto-flow: column;
  // grid-auto-columns: 1fr;
  height: $space6;
  padding: $space1;
}

// .image {
// 	padding: 12px;
// 	padding-left: 128px;
// }

form.button_to {
  height: 0px;
  width: 0px;
}

.button {
  font-size: $txt1;
  height: $space5;
  width: $space9;
  padding: $space0;
  text-align: center;
  border-radius: $space0;
  transition-duration: 0.1s;
}

.primary {
  color: white;
  background-color: $orange3;
  border-color: $orange3;
  box-shadow: $shadow2;
  &:hover, &:focus {
    color: $grey9;
    background-color: $orange3;
    border-color: $orange3;
    box-shadow: $shadow1;
  }
  &:active {
    color: $grey9;
    background-color: $orange2;
    border-color: $orange2;
    box-shadow: $shadow1;
  }
}

// .secondary {
//   color: $orange3;
// 	background-color: white;
//   border-color: $orange3;
// 	box-shadow: $shadow2;
// 	&:hover, &:focus {
// 		color: $orange3;
// 		background-color: white;
//   	border-color: $orange2;
//     box-shadow: $shadow1;
//   }
// }

// .tertiary {
// 	color: $orange3;
// 	background-color: transparent;
// 	text-decoration: underline;     
// 	text-decoration-color: $orange3; 
// 	&:hover, &:focus {
// 		box-shadow: $shadow3;
// 	}
// }


.btn-icon {
    height: 0px;
    width: 0px;
    color: transparent;
    background-color: transparent;
    border: transparent;
}

i {
    font-size: $txt6;
    color: $orange2;
    transition: all .2s ease-in-out;
}
