@import './constants.css.scss';

i {
	font-size: $space5;
	&.icon-qr-code {
		color: $green2;
	}
	&.icon-edit {
		color: $blue3;
	}
	&.icon-trash {
		color: $red4;
	}
	&.icon-chevron-left, &.icon-chevron-right {
		color: $grey4;
	}
}
