@import './constants.css.scss';

#logo {
  float: left;
  display: flex;
  align-items: center;
  font-size: $txt5;
  color: $grey5;
  margin-right: $space1;
  padding-top: $space1;
  &:hover {
    color: $grey8;
    text-decoration: none;
  }
  &:active {
    color: $green4;
  }
}

#crest {
  height: $space6;
}
