@import './constants.css.scss';

.table {
	margin-top: $space3;
	border-collapse: collapse;
	border-color: $blue0;
}

th {
	font-weight: 400;
	font-size: $txt2;
	padding: $space1 $space3 $space1 $space0 !important;
	&.table-title {
		padding-top: 0px !important;
	}
}

td {
	font-family: 'graphik-light';
	padding: $space1 $space3 $space1 $space0 !important;
}

#vertical-table {
	margin-top: 0px;
	width: $space12;
	th {
		font-size: $txt1;
	}
	a {
		color: $green2;
		&:hover, &:focus, &:focus-visible {
			color: $green1;
		}
		&:active {
			color: $green0;
		}
	}
}

.danger {
	background-color: $red7;
}