@import './constants.css.scss';

.table {
	margin-top: $space3;
	border-collapse: collapse;
	border-color: $blue0;
}

th {
	font-weight: 400;
	font-size: $txt2;
	padding: $space1 $space3 $space1 $space0 !important;
	&.table-title {
		padding-top: 0px !important;
	}
}

td {
	font-family: 'graphik-light';
	padding: $space1 $space3 $space1 $space0 !important;
}

.list tbody tr:hover {
	background-color: $grey8;
	cursor: pointer;
}

.small-table {
	display: grid;
	justify-content: center;
}

#vertical-table {
	margin-top: 0px;
	width: $space12;
	th {
		font-size: $txt1;
	}
}

.danger {
	background-color: $red7;
}