@import './constants.css.scss';

// body {
//     border: 2px solid black;
// }

.btn {
  box-shadow: $shadow2;
  border-radius: 4px;
  transition-duration: 0.1s;
}

.btn-primary {
	color: white;
  background-color: $orange3;
  border-color: $orange3;
	box-shadow: $shadow2;
	&:hover, &:focus {
		color: white;
  	background-color: $orange2;
  	border-color: $orange2;
    box-shadow: $shadow1;
  }
}

.btn-secondary {
  color: $orange3;
	background-color: white;
  border-color: $orange3;
	box-shadow: $shadow2;
	&:hover, &:focus {
		color: $orange3;
		background-color: white;
  	border-color: $orange2;
    box-shadow: $shadow1;
  }
}

.btn-tertiary {
	color: $orange3;
	background-color: transparent;
	text-decoration: underline;     
	text-decoration-color: $orange3; 
	&:hover, &:focus {
		box-shadow: $shadow3;
	}
}

.center {
	text-align: center;
}

.image {
	padding: 12px;
	padding-left: 128px;
}

// Home page
.center.jumbotron {
	margin-bottom: 48px;
}

.title {
  font-family: 'graphik-medium';
  font-size: 48px;
}

.caption {
  font-family: 'graphik-regular-italic';
}

