@import './constants.css.scss';

.gallery {
	width: auto;
	margin: 0 auto;
	overflow: auto;
	padding: $space2 0;
	display:         flex;
	flex-wrap:       wrap;
	justify-content: center;
}

.tile {
	margin: $space0;
	border: 1px solid $grey5;
	width: 15.7%;
	min-width: $space10;
	&:hover {
    border: 1px solid $grey3;
  }
}

.tile img {
	width: 100%;
	height: $space10;
}

.plot_desc {
	padding: $space0;
	text-align: center;
	width: 100%;
	height: 160px;
}

.plant_desc {
	padding: $space0;
	text-align: center;
	width: 100%;
	height: $space9;
}
  