= soil_sample_fields.label :ph_level
= soil_sample_fields.text_field :ph_level, class: 'form-control'
= soil_sample_fields.label :temperature
= soil_sample_fields.text_field :temperature, class: 'form-control'