%footer
  %nav
    %ul
      %li= link_to 'Report a Bug', 'https://github.com/osu-cascades/ecotone-web/issues', title: 'Issues on GitHub'
      %li= link_to 'OSU-Cascades', 'http://osucascades.edu/', target: '_blank', title: 'OSU Cascades web site', id: 'osu'
